# fly.toml app configuration file generated for tpm-tools on 2025-12-22T11:04:32-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tpm-tools'
primary_region = 'sjc'

[build]
  [build.args]
    GO_VERSION = '1.22'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[statics]]
guest_path = "/statics"
url_prefix = "/"

[[statics]]
guest_path = "/statics/rc.html"
url_prefix = "/rc"
