{{ define "footer" }}
<footer>
  <div class="pagefoot">
    <img src="/media/github-mark-white.svg" width="12pt" height="12pt" />
    <a href="https://github.com/chrisfenner/tpm.tools">tpm.tools</a>
    is a side project from
    <a href="https://www.dlp.rip">Chris Fenner</a>
  </div>
</footer>
{{ end }}
