{{ define "footer" }}
<footer>
  <div class="pagefoot">
    <img src="/media/github-mark-white.svg" width="12pt" height="12pt" />
    &nbsp;
    <a href="https://github.com/chrisfenner/tpm.tools">TPM.tools</a>
    &nbsp;is a side project from&nbsp;
    <a href="https://www.dlp.rip">Chris Fenner</a>
  </div>
</footer>
{{ end }}
