{{ define "head" }}
<head>
  <title>TPM.tools</title>
  <link rel="icon" type="image/x-icon" href="/media/favicon-192.png" />
  <link rel="manifest" href="/manifest.json" />
  <!-- Combined JS and stylesheet bundle -->
  <script src="/bundle.js"></script>
</head>
{{ end }}
