{{ define "header" }}
<header>
  <div class="navhead">
    <a href="/">
      <img
        src="/media/logo-small.png"
        style="display: block"
        width="195pt"
        height="37pt"
      />
    </a>
    <a href="/rc" class="app">
      <div>RC</div>
    </a>
  </div>
</header>
{{ end }}
