{{ define "header" }}
<header>
  <div class="navhead">
    <div class="logo">
      <a href="/">
        <div>
          <img src="/media/favicon-192.png" />
          <span>tpm.tools</span>
        </div>
      </a>
    </div>
    <div class="appcontainer">
      <a href="/rc" class="app rc">
        <div box-="round">RC Decoder</div>
      </a>
    </div>
  </div>
</header>
{{ end }}
