<!DOCTYPE html>
<html lang="en" data-webtui-theme="catppuccin-macchiato">
  {{template "head"}}
  <body>
    {{template "header"}}
    <div box-="square" shear-="top">
      <div class="header">
        <span is-="badge" variant-="background0">Welcome</span>
      </div>
      <div id="content">Click on a tool above to get started.</div>
    </div>
    {{template "footer"}}
  </body>
</html>
