<!DOCTYPE html>
<html lang="en" data-webtui-theme="catppuccin-macchiato">
  {{template "head"}}
  <body>
    {{template "header"}}
    <div class="content">
      <h1>Welcome</h1>
      Click on a tool above to get started.
    </div>
    {{template "footer"}}
  </body>
</html>
