<!DOCTYPE html>
<html lang="en" data-webtui-theme="catppuccin-macchiato">
  {{template "head"}}
  <body>
    {{template "header"}}
    <label box-="square" shear-="top">
      <div clas="row">
        <span is-="badge" variant-="background0"> Response code (hex)</span>
      </div>
      <input id="rc-query-input" placeholder="123" />
    </label>
    <div id="rc-results"></div>
    {{template "footer"}}
  </body>
</html>
