html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1c21;
  background-image: linear-gradient(to bottom, #1d1c21, #0c0b0e);
  display: flex;
  flex-flow: column;

  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

a:link {
  color: hotpink;
}
a:visited {
  color: lavender;
}
a:hover {
  color: purple;
}
a:active {
  color: purple;
}

.content {
  height: 100%;
  align-items: center;
  width: 100%;
  max-width: 600pt;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #25212d;
  box-shadow: 1pt 1pt 2pt #000000aa;
}

.navhead {
  display: flex;
  height: 40pt;
  align-items: center;
  max-width: 600pt;
  width: 100%;
  margin: 0 auto;

  font-family: "Courier New", Courier, monospace;
}

footer {
  background-color: #14101b;
  box-shadow: 1pt 1pt 2pt #000000aa;
}

.pagefoot {
  display: flex;
  height: 20pt;
  align-items: center;
  max-width: 600pt;
  width: 100%;
  margin: 0 auto;

  font-family: "Courier New", Courier, monospace;
}
